.button {
  background-color: var(--accent);
  color: var(--primary);
  border-radius: 28px;
  font-weight: 600;
  box-shadow: 0 5px 60px var(--shadow-color);
  transition: all 0.5s;
}

.buttonPrimary {
  height: 60px;
  min-width: 250px;
}

.buttonSecondary {
  height: 40px;
  min-width: 120px;
}

.buttonCaps {
  text-transform: uppercase;
}

.button:hover {
  background-color: var(--accent-hover);
  box-shadow: 0 10px 20px var(--shadow-color);
}
