.button {
  padding: 14px;
  background-color: var(--accent);
  color: var(--primary);
  border-radius: 28px;
  min-width: 120px;
  text-transform: uppercase;
  font-weight: 600;
  box-shadow: 0 5px 60px var(--shadow-color);
  transition: all 0.5s;
}

.button:hover {
  background-color: var(--accent-hover);
  box-shadow: 0 10px 20px var(--shadow-color);
}
