.menuSidebar {
  max-width: 240px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  border-right: 1px solid var(--secondary-text);
}

.layout {
  display: flex;
}

.menuProfile {
  padding-bottom: 40px;
}
.menuProfile > img {
  padding-bottom: 20px;
}

.profileName {
  font-size: 20px;
  font-weight: 700;
}

.profileEmail {
  color: var(--secondary-text);
  font-size: 14px;
}

.menuLink {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 14px 0;
  margin: 14px 0;
  transition: all 0.5s;
  color: var(--text);
}

.menuLink:hover {
  color: var(--accent);
}

.linkActive {
  color: var(--accent);
}

.menuLink > p {
  padding-left: 14px;
}

.cartCount {
  width: 20px;
  font-size: 12px;
  background-color: var(--accent);
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 20px;
  color: var(--primary);
  margin-left: 5px;
}
